<div class="centre">
  <h1> Modifier une voiture </h1>
  {{#if fail}}
  <p>
      <strong>{{this.fail}}</strong>
  </p>
  {{/if}}
  <form action="" enctype="multipart/form-data" method="post">
      <div>
          <input type="hidden" name="voinum" value="{{voiture.voinum}}">
      </div>
      <div>
          <label for="voinom">Nom : </label>
          <input type="text" name="voinom" value="{{voiture.voinom}}" required>
      </div>
      <div>
          <label for="ecunum">Ecurie propriétaire : </label>
          <select name="ecunum" required>
              {{#each ecuries}}
              {{#ifEquals this.ecunum ../voiture.ecunum}}
              <option value="{{this.ecunum}}" selected>{{this.ecunom}}</option>
              {{else}}
              <option value="{{this.ecunum}}">{{this.ecunom}}</option>
              {{/ifEquals}}
              {{/each}}
          </select>
      </div>
      <div>
          <label for="typnum">Type de voiture : </label>
          <select name="typnum" required>
              {{#each typesVoiture}}
              {{#ifEquals this.typnum ../voiture.typnum}}
              <option value="{{this.typnum}}" selected>{{this.typelibelle}}</option>
              {{else}}
              <option value="{{this.typnum}}">{{this.typelibelle}}</option>
              {{/ifEquals}}
              {{/each}}
          </select>
      </div>
      <div>
          <label for="voiadresseimage">Image : </label>
          <input type="file" name="voiadresseimage" required>
      </div>
      <div class="centre">
          <input type="submit" value="Ajouter">
      </div>
  </form>
</div>
