<h1> Détail sur le pilote {{pilote.pilnom}} </h1>
<img src="/image/pilote/{{pilote.phoadresse}}">
<p><strong>Nom : </strong>{{pilote.pilnom}} {{pilote.pilprenom}}</p>
<p><strong>Date de Naissance : </strong>{{formatDate pilote.pildatenais 'dddd D MMMM YYYY'}}</p>
<p><strong>Poids : </strong>{{pilote.pilpoids}} Kg</p>
<p><strong>Taille : </strong>{{pilote.piltaille}} Cm</p>
<p><strong>Nationalité : </strong>{{pilote.paynat}}</p>
{{#if ecurie.ecunom}}
  <p><strong>Écurie : </strong>{{ecurie.ecunom}}</p>
{{else}}
  <p><strong>Écurie : </strong>Pas d'écurie cette année</p>
{{/if}}
<p><strong>Principaux sponsors : </strong></p>
{{#each sponsors}}
    <p><strong>{{this.sponom}} </strong>({{this.sposectactivite}})</p>
{{/each}}
<p><strong>Qui suis-je ? :</strong> {{pilote.piltexte}}</p> <br>
{{#each photos}}
   <a  href="/image/pilote/{{this.phoadresse}}" data-lightbox="lightbox2" data-title="{{this.phocommentaire}}"><img src="/image/pilote/{{this.phoadresse}}" alt="{{this.phosujet}}" height="128" width="128"/></a>
{{/each}}
<div class="tooltip">Hover over me
  <img class="tooltiptext" src="/image/pilote/442208.jpg" alt="{{this.phosujet}}" height="128" width="128"/> <br>
  <p class="tooltiptext">Tooltip text</p>
</div>
<script src="/js/lightbox2-2.11.1/dist/js/lightbox-plus-jquery.min.js"></script>
