<table class="tabpayscir">
   {{#each listeCircuit}}
   <tr>
      <td><img class="drapeau" src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
         <a href="/detailCircuit/{{this.cirnum}}"> {{this.cirnom}}</a>
      </td>
   </tr>
   {{/each}}
</table>
<h1> Détail sur le circuit {{circuit.cirnom}} </h1>
<img src="/image/circuit/{{circuit.ciradresseimage}}">
<p><strong>Nom : </strong>{{circuit.cirnom}}</p>
<p><strong>Longueur : </strong>{{circuit.cirlongueur}} m</p>
<p><strong>Nombre de spectateurs : </strong>{{circuit.cirnbspectateurs}} spectateurs</p>
<p><strong>Pays : </strong>{{circuit.paynom}}</p>
<p><strong> Description du circuit :</strong> {{circuit.cirtext}}</p>
