<h1> Détail sur l'écurie' {{ecurie.ecunom}} </h1>
<img src="/image/ecurie/{{ecurie.ecuadresseimage}}">
<p><strong>Nom : </strong>{{ecurie.ecunom}}</p>
<p><strong>Directeur : </strong>{{ecurie.ecunomdir}}</p>
<p><strong>Adresse : </strong>{{ecurie.ecuadrsiege}}</p>
<p><strong>Pays : </strong>{{ecurie.paynom}}</p>
<p><strong>Fournisseur de pneumatique : </strong>{{ecurie.fpnom}}</p>
{{#if pilotes}}
  <p><strong>Pilotes : </strong> </p>
  {{#each pilotes}}
      <p> <a href="/detailPilote/{{this.pilnum}}">{{this.pilnom}} {{this.pilprenom}} </a></p>
  {{/each}}
  <br>
  {{#each voitures}}
    <img src="/image/ecurie/voiture/{{this.voiadresseimage}}">
    <p> {{this.voinom}} </p>
    <p> {{this.typelibelle}} </p>
  {{/each}}
{{else}}
  <p>Cette écurie ne participe pas au championnat cette année</p>
{{/if}}
